/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --yellow: #E1C523;
  --black: #000000;
  --gray: #ededed;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background: var(--black);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  cursor: pointer;
  display: flex;
  width: 120px;
  height: 120px;
  margin-right: 10px; /* Adiciona um espaçamento à direita da imagem para separá-la do texto */
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  color: var(--yellow);
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

nav ul li a{
  color: var(--yellow);
  text-decoration: none;
}

nav ul li a:hover{
  color: var(--gray);
}

.cart-icon{
  color: var(--gray);
  border: 1px solid var(--yellow);
  background: transparent;
  padding: 2px 40px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 5px;
}

nav ul button:hover{
  transition: background, color 0.4s;
  background: var(--yellow);
  color: var(--black);
}

.content .header-block{
  margin-top: 10px;
  max-width: 1000px;
  min-width: 300px;
  height: 300px;
  background: var(--yellow);
  border-radius: 20px;
  box-shadow: 1px 0px 10px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.header-block img{
  width: 25.4%;
  border-radius: 20px;

}

.header-block .text h2 {
  text-align: center;
  font-size: 32px;
  color: black;
}

.header-block .text p {
  text-align: center;
  font-size: 20px;
  color: black; 
}


/*Catalogo Feminino*/

section .feminino{
  width: 100vw;
  padding: 100px;
}

section .filter-card {
  width: 980px;
  max-width: 100%; 
  height: 130px;
  background: var(--gray);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 700px;
  max-width: 65%; /*largura disponível */
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}

.search-button {
  width: 180px;
  max-width: 30%; /* Alterado para 30% da largura disponível */
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background: var(--yellow);
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.2s ease;
}

.search-button:hover {
  background: #dedede;
  color: var(--black);
}

.title-wrapper-feminino{
  margin-top: 20px;
  padding-bottom: 10px;
}

.menssage-error {
  font-size: large;
  color: var(--yellow);
  margin-top: 5%;
  text-align: center; 
  font-style: italic;  
  font-weight: bold;
  display: none;
}

section .card-wrapper{
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item{
  height: 440px;
  background: var(--black);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.card-item h3 {
  color: white;
  width: 90%;
  margin: 12px;
  left: -10px; /* Ou qualquer valor negativo desejado */
}

.Valor {
  width: 90%;
  font-style: italic;
  color: white;
  text-align: right; /* Alinha o texto à direita */
  padding-left: 20px; /* Adiciona espaço à esquerda */
  margin-bottom: 10px;
}
.Descrição {
    width: 90%;
    font-style: italic;
    font-size: 16px;
    color: white;
    margin-left: 4%;
    margin-bottom: 10px;  
    text-align: center;
}

.card-item img{
  max-width: 60%;
  margin-top: 20px;
  margin-right: 8px; 
  border-radius: 8px;
  cursor: pointer;
}

.card-item button {
  width: 250px;
  max-width: 90%;
  height: 50px;
  padding: 15px;
  border: 1px solid var(--yellow);
  background: var(--yellow);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  display: block; /* Certifique-se de que é um elemento de bloco para que as margens automáticas funcionem */
}

.card-item button:hover {
  background: var(--black);
  color: var(--yellow);
}

.menu-icon{
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.bar {
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 15%;
  margin: 5px 0;
}

.menu-sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* Inicialmente escondido */
  width: 300px;
  height: 100%;
  background-color: #333;
  padding-top: 80px;
  transition: left 0.3s ease-in-out;
}

.menu-sidebar-list {
  list-style: none;
  padding: 20px;
}

.menu-sidebar-list a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}
.menu-icon {
  cursor: pointer;
  display: none;
  margin-right: 20px;
}

.bar {
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 15%;
  margin: 5px 0;
}

/* Estilos do menu lateral */
.menu-sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: black;
  padding-top: 80px;
  transition: left 0.3s ease-in-out;
}

.menu-sidebar-list {
  list-style: none;
  padding: 20px;
}

.menu-sidebar-list a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}

/* Mostrar o menu */
.menu-sidebar.show-menu {
  left: 0;
}

.close-icon{
  margin-left: 8%;
}

/* Transformar em um X */
.menu-icon.close-icon div:nth-child(1) {
  transform: rotate(45deg) translate(8px, 9px);
}

.menu-icon.close-icon div:nth-child(2) {
  transform: rotate(-45deg) ;
}

.menu-icon.close-icon div:nth-child(3) {
  opacity: 0;
}

.card-content .price-text {
  color: var(--yellow);
  font-weight: bold;
  margin-bottom: 1px;
}

.card-content .item-price {
  font-size: 1.2em;
  margin-right: 20px;
}

.card-content .item-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-content .item-info h3 {
  color: white;
  width: 70%; /* Ajuste a largura conforme necessário */
  margin: 12px;
  margin-left: 20px;
  font-size: 1.4em;
}

.Valor {
  font-size: 1.5em; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  color: var(--yellow);
  text-align: right;
  margin-bottom: 10px;
}
  
@media (max-width:490px) {
  .moca {
    display: none;
    text-align: 0; 
    font-size: 0;
  }
}

@media (max-width: 740px) {
  header div nav ul{
    display: none;
  }
  .menu-icon{
    display: block;
  }
}
